<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All About Me</title>
    </head>

    <body>
        <h1>About Me!</h1>
        <img src="photos/me.PNG"
            width="255" 
            height="400" />
        <h2>Ethan Smith</h2>
        <br>
        <p>
            Hello everyone! My name is Ethan Smith, Im a second-year math major with a minor in computer science, which I have been enjoying a lot!
            I love going to BYUi so much! The campus has such a good vibe and the teachers are fantastic! 
            Lately I have been taking more CS classes for my minor and I'm so excited for this class because, Web Development is something that Im sure will be very useful through my career.
            <br>
            As far as my hobbies and interests go, I love pretty much anything outdoors, especially backpacking, climbing, night photography, and running. 
            I am a huge astronomy nerd, and physics is definitely my favorite field in applied maths.
            <br>
            I am from Rexburg, and I currently live at home with my one older brother and my parents. 
            I love my family a lot, we do lots together and we are really close. 
            My Dad and I are currently restoring a 1968 Landcruiser which has been really fun, and we are hoping by summertime it will be on the road again! 
            <br>

        </p>
    </body>
</html>
